*{
    margin: 5;
    padding: 0;
}

body{
    font-family:unset;
    background-image: url(fundo.jpg);
    
}


#cabecalho{
    height: 300px;
    width: 150px;
    margin:  0 auto;
    margin-left: 550px;
    margin-top: 10px;
    border-radius: 10px;
    
}

#menu{
    height: 500px;
    width: 300px;
    text-align: center;
    float: left;
    margin-left: 37px;
    margin-top: 10px;
    font-size: 45px;
    font-style:oblique;
    
    
    
}
button{
    font-size: 15px;
    border: 5px;
    border-radius: 30px;
    width: 300px;
    height: 50px;
    background-color:rgb(103, 179, 103);
}

#conteudo{
    height: 700px;
    width: 750px;
    background-color: #F9F4EE;
    border-radius: 15px 50px 30px 5px;  
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 35px;
    font-style:oblique;
    text-align:center;
    

}
#conteudo2{
    height: 850px;
    width: 750px;
    background-color: #F9F4EE;
    border-radius: 15px 50px 30px 5px;  
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 35px;
    font-style:oblique;
    text-align:center;
}
#conteudo1{
    height: 470px;
    width: 750px;
    background-color: #F9F4EE;
    border-radius: 15px 50px 30px 5px;  
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 35px;
    font-style:oblique;
    text-align:center;
    

}

p{
    font-size: 18px;
    font-style: unset;
    text-align: justify;
    padding: 10px;
    
    
}
ul{
    font-size: 18px;
    font-style: unset;
    text-align:left;
    padding: 20px;
    margin-top: 10px;
    
}

#lado{
    height: 340px;
    width: 300px;
    background-color:rgb(103, 179, 103);
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    margin-block-end: 5px;
    font-size: 28px;
    font-style:oblique;
    border-radius: 15px;
    text-align: center;
}
img{
    margin-top: 50px;
    border-radius: 10px;
}


#rodape{
    height: 92px;
    width: 300px;
    background-color:rgb(103, 179, 103);
    float: left;
    
    margin-top: 30px;
    margin-block-end: 5px;
    font-size: 28px;
    font-style:oblique;
    border-radius: 15px;
   
    text-align: center;
}

#lado2{
    
    height: 340px;
    width: 350px;
    background-color:rgb(103, 179, 103);
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    margin-block-end: 5px;
    font-size: 28px;
    font-style:oblique;
    border-radius: 15px;
    text-align: center;
}

#rodape2{
    height: 92px;
    width: 300px;
    background-color:rgb(103, 179, 103);
    float: left;
    
    margin-top: 30px;
    margin-block-end: 5px;
    font-size: 28px;
    font-style:oblique;
    border-radius: 15px;
   
    text-align: center;
}
